.body{
background-color: black;
}

/*cor da fonte*/
.fontDark-bg{
    color: #FFD180;
}
.fontLight-bg{
    color: black;
}

/*parte externa da barra de navegação*/
.navBar{
    background-color: #212121;
}

/*parte interna dos links e icone da barra de navegação*/
.navBar a:nth-child(n+1), #icon{
    background-color: #212121;
 }

 /*cor dos links*/
 a{
    color: #FFD180;
 }

 .flexDiv{
    color: #FFE0B2
 }

 h1, h2, h3, h4, h5, h6{
    color: #FFE0B2;
 }

 .textoNaImagem p{
    color: white;
 }

.textoNaImagem{
    background-color: rgba(30,30,30,0.4);
 }