h1{
    font-family: Old English Text MT;
    font-size: 100px;
}

h2{
    font-family: Old English Text MT;  
    font-size: 90px;  
}

h3{
    font-family: Old English Text MT;   
    font-size: 80px; 
}

h4{
    font-family: Old English Text MT;   
    font-size: 70px; 
}

h5{
    font-family: Old English Text MT;    
    font-size: 60px;
}

h6{
    font-family: Old English Text MT;    
    font-size: 50px;
}

/*fonte padrão do windows, combina com o tema que o site aborda*/
/*para fundos escuros*/
.fontDark-bg{
    font-family: Old English Text MT;
}

/*para fundos claros*/
.fontLight-bg{
    font-family: Old English Text MT;
}

/*fonte dos links*/
a{
    font-family: Arial;
    font-size: 20px;
}

.textoNaImagem{
    font-size: 50px;
}

.tituloAssunto{
    font-size: 72px;
}

.breveDescricao{
    font-size: 25px;
}

form [type="text"], [type="email"], .flexDiv{
    font-family: Old English Text MT;
    font-size: 32px;
}

form [type="text"], [type="email"]{
    font-size: 20px;
}