/*tirando a margem padrão e chata do body*/
body{
    margin: 0;
}

/*background principal do site*/
.body{
    background: url(../images/mbb_bg.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    padding-top: 4.9vw;
}

/*barra de navegação*/
.navBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 99999999;
}

/*imagem centralizada para a área de apresentação*//*ps: falta editar e colocar o logo da empresa*/
.bannerApresentacao{
    display: block;
    margin: auto;
    margin-top: 3.5vw;
    padding-bottom: 3.5vw;
}

/*ícone da barra de navegação*/
#icon{
    height: 3.5vw;
    margin-left: 2%;
    margin-right: 3%;
}

/*os links seguirão esse estilo*/
a{
    text-decoration: none;
    margin-top: 2vw;
    height: 2vw;
    margin-right: auto;
    width: auto;
}

/*background a área do escopo*/
#escopo{
    background-image: url(../images/escopo_img.jfif);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.espaco{
    padding-bottom: 8vw;
}

/*texto que estará dentro do escopo*/
.textoNaImagem{
    max-width: 50vw;
    width: auto; 
    padding: 5vw;
    padding-bottom: 15vw;
    margin: auto;
}


.tituloAssunto{
    margin-left: 28%;
}

.breveDescricao{
    max-width: 40vw;
    min-width: 15vw;
    margin-left: 8%;
}

/*ajuste geral para as imagens da parte "funcionalidades"*/
.imagemSS{
    height: 23vw;
    width: 40vw;
    margin-top: 20%;
}

/*ajuste geral para as imagens da parte "desenvolvimento"*/
.imgDev{
    height: 23vw;
    width: 40vw;
    padding-right: 3.5vw;
    padding-left: 3.5vw;
    padding-bottom: 3.5vw;
}

.divBlock{
    display: flex;
}

.fatherDiv{
    display: flex;
    flex-direction: row;
}

.imgDiv{
    margin: auto;
}

#ultimaDivPai{
    padding-bottom: 8vw;
}

/* Organização para os itens dentro desta classe */
.blockDiv{
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
}

/* Organização do vídeo na tela*/
#videoDev{
    display: block;
    margin: auto;
}

/* Espaçamento para esta classe */
.secPdB{
    padding-bottom: 5vw;
}

/* Configuração geral para o newsletter */
.newsletter{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form .newsletter{
    margin: auto;
}

/* Display flex e espaçamento para esta classe */
.divFlex{
    display: flex;
    padding-bottom: 4vw;
}

/* Espaçamento para esta classe */
.flexDiv{
    padding-right: 3vw; 
    min-width: 8vw;
}

/* Barra para os imputs do nesletter*/
input{
    width: 38vw;
    height: 3vw;
    text-align: center;
}

/* Classe para centralizar, ou ao menos tentar*/
.center{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

/* Para dar espaço a certos elementos */
.divPdB{
    padding-bottom: 1vw;
    display: inline-block;
}

/* Para a imagem do botão enviar do newsletter*/
form [type="submit"]{
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
}


/* Início para responsividade em vários dispositivos: */

/* Monitores ultra-wide */
@media screen and (max-width: 2560px) {
    .navBar a{
        height: auto;
        width: auto;
        margin: auto;
        font-size: 30px;       
    }

    .imgDev{
        padding-left: 5vw;
        margin: auto;
        height: auto;
    }

    #videoDev{
        width: 60vw;
        height: 34vw;
    }

    .tituloAssunto{
        padding-top: 7vw; 
        margin-bottom: 1vw;
    }
}

/* Monitores ultra-hd */
@media screen and (max-width: 1920px) {
    .navBar a{
        height: auto;
        width: auto;
        margin: auto;
        font-size: 24px;       
    }

    .imgDev{
        padding-left: 5vw;
        margin: auto;
        height: auto;
    }

    #videoDev{
        width: 80vw;
        height: 45vw;        
    }
}

/* Monitores hd */
@media screen and (max-width: 1366px) {
    .navBar a{
        height: auto;
        width: auto;
        margin: auto;
        font-size: 17px;       
    }

    .imgDev{
        padding-left: 5vw;
        margin: auto;
        height: auto;
    }

    #videoDev{
        width: 80vw;
        height: 45vw;        
    }
}

/* Tablets 1024x768 */
@media screen and (max-width: 1024px) {
    .navBar a{
        height: auto;
        width: auto;
        margin: auto;
        font-size: 15px;       
    }

    .textoNaImagem p{
        font-size: 29px;
    }

    .imgDev{
        padding-left: 4vw;
        margin: auto;
        height: auto;
    }

    form [type="text"], [type="email"], .flexDiv{
        font-size: 22px !important;
    }

    .newsletter{
        font-size: 80px;
        margin-left: 25%;
        align-items: center;
        margin: auto;
        padding-bottom: 5vw;
    }

    .imagemSS{
        height: 35vw;
        width: 50vw;
    }

    .imgDiv{
        display: block;
        margin: auto;
        /* padding-top: 15vw; ; */
    }

    .tituloAssunto{
        font-size: 70px !important;
        margin: auto;
        margin-left: 10%;
    }

    .fatherDiv{
        padding-top: 10vw;
    }
}

/* Celulares */
@media screen and (max-width: 414px) {
    .navBar a{
        height: auto;
        width: auto;
        margin: auto;
        font-size: 8px;       
    }

    .fatherDiv{
        display: flex;
        flex-direction: column;
    }

    .imagemSS{
        height: 60vw;
        width: 85vw;
    }
    
    .imgDev{
        width: 90%;
        margin: auto;
    }

    #videoDev{
        width: 80vw;
        height: 45vw;        
    }

    .bannerApresentacao{
        height: 100%;
        width: 100%;
    }

    .textoNaImagem{
        max-width: 100%;
    }

    .textoNaImagem p{
        font-size: 25px;
        background-color: rgba(30, 30, 30, 0.75)
    }

    .tituloAssunto{
        font-size: 60px !important;
        text-align: center;
        margin: 0;
    }

    .breveDescricao{
        max-width: 100%;
    }

    .breveDescricao{
        font-size: 20px !important;
        text-align: center, justify;
        width: 90%;
        margin: auto;
    }

    .newsletter{
        font-size: 50px;
        text-align: center;
        margin: auto;
    }

    form [type="text"], [type="email"], .flexDiv{
        font-size: 15px !important;
        height: 20px;
        width: 100%;
    }

    #img3, #escopo{
        padding-bottom: 20vw;
    }

    .divPdB{
        margin-left: 20%;
        margin: 0;
    }

    .flexDiv{
        font-size: 24px !important;
        padding: 0;
    }

    input{
        margin-right: 10vw; 
    }

}

